<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!--    contact chart-->
<main class = "contact">
<div class="container">
<p id = "contact-me">I'm always happy to make new friends and face new challenges. Feel free to say hi.<br>
<a href="https://www.linkedin.com/in/bruno-morgado-io/" target="blank">LinkedIn</a> | 
<a href="mailto:brmorg@gmail.com" subject="Subject text"> Mail</a> |
<a href="https://www.instagram.com/brmorg.io/" target="blank"> Instagram</a>
</p>
  <form id="contact" action="mailto:brmorg@gmail.com" method="post">
    <h3 style="font-size: 40px">Quick Contact</h3>
    <h4 style="font-size: 20px">Send me a message</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your e-mail address" type="email" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your phone number" type="tel" tabindex="5" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your message here..." tabindex="7" required></textarea>
    </fieldset>
    <fieldset>
    <input id="send-button" type="submit" value="Send" tabindex="9"/>
    </fieldset>
  </form>
</div>
</main>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>