<!-- Web Application Development
    Assignment 1
    HTML

    Author: Bruno Morgado
    Student# 301154898 -->

<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main content -->
<main class="home-container">
  <div class="home-welcome">
    <div class="text-box">
      <h1 class="hello">HELLO, I'M BRUNO.</h1>
      <!-- <h1 class="im-bruno"></h1> -->
      <!-- <h1 class="description-bruno"></h1> -->
      <h2 class="mission-bruno">
        A web developer that strives to combine machine learning to design &
        code
      </h2>
      <p class="about-bruno"><a href="/about">Read More</a></p>
    </div>
  </div>
</main>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
