<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main content -->
<main class="home-container">
  <div class="home-welcome">
    <div class="text-box">
      <h1 class="hello">HELLO,</h1>
      <h1 class="im-bruno">I'M BRUNO</h1>
      <h1 class="description-bruno">I'M A WEB DEVELOPER</h1>
      <h1 class="mission-bruno">
        I STRIVE TO COMBINE<br />
        MACHINE LEARNING TO DESIGN & CODE
      </h1>
      <p class="about-bruno"><a href="/about">About Bruno</a></p>
    </div>
  </div>
</main>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
