/* Custom CSS goes here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.nav-item {
  margin-right: 20px;
}

.home-welcome {
  margin: auto;
  width: 100%;
  height: 85vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../Assets/images/background-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  /* display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 30px; */
}

.text-box {
  height: 100%;
  opacity: 1;
  color: #fff;
  margin: auto;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 50px;
  flex-grow: 1;
  text-align: center;
}

.hello {
  font-family: Abel, sans-serif;
  font-size: 80px;
}

.im-bruno {
  font-family: Abel, sans-serif;
  font-size: 100px;
}

.description-bruno {
  font-family: roboto, sans-serif;
}

.about-bruno {
  align-self: center;
  margin-top: 30px;
}

.about-bruno a {
  text-decoration: none;
  font-size: 22px;
  color: #00162a;
  background-color: rgb(51, 200, 201);
  padding: 20px;
  border-radius: 10px;
}

.about-bruno a:hover {
  color: #00162a;
  background-color: #fff;
}

.mission-bruno {
  font-family: Yaldevi, sans-serif;
}

.nav-link {
  font-size: 22px;
}

.container--about {
  /* width: 70%; */
  margin: auto;
  background-color: #fff;
  height: 85vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}
/* About Me */

.introduction--bruno {
  margin-left: auto;
  margin-right: auto;

  width: 70%;
  display: flex;
  /* margin-top: 15vh; */
  padding-top: 60px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
  gap: 15px;
}

.name--bruno {
  margin: auto;
}

.name--bruno h1 {
  padding: 0;
  font-size: 70px;
  font-weight: bold;
  font-family: Abel, sans-serif;
}

.name--bruno p {
  font-size: 20px;
}

.image--bruno {
  margin: auto;
  width: 70%;
}

.image--bruno img {
  margin-left: 15px;
}

/* .border--bruno {
  background-color: #adadad;
  height: 20px;
  position: absolute;
  bottom: 50%;
  margin-bottom: 150px;
} */

#description--bruno {
  width: 100%;
  margin: auto;
  color: #e5e3e3;
  background-color: #212529;
  font-size: 32px;
  line-height: 62px;
  font-weight: 400;
}

.text--bruno {
  width: 70%;
  margin: auto;
  /* padding-top: 100px;
  padding-bottom: 100px; */
}

.resume-download {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-bruno a {
  text-decoration: none;
  color: rgb(51, 200, 201);
  /* background-color: #adadad; */
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  font-size: 22px;
  border-radius: 10px;
}

.jumbotron {
  /* width: 70%; */
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-family: Abel, sans-serif;
  font-size: 200px;
  font-weight: 400;
}

.jumbotron h1 {
  font-size: 80px;
}

.portfolio-image {
  width: 300px;
  height: 195px;
}

.selected-projects {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  /* align-items: center; */
  row-gap: 30px;
  column-gap: 15px;
}

.services {
  /* width: 50%; */
  margin: auto;
  padding-top: 30px;
  font-size: 22px;
  text-align: left;
  margin: auto;
  display: flex;
  justify-content: center;
}

/* form */

/* Contact form */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

#contact-me {
  color: #fff;
  text-align: center;
  font-size: 18px;
}

.contact {
  background-color: #212529;
  height: 80vh;
  padding-top: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Abel, sans-serif;
}
/* 
.container2 {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
} */

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Abel", sans-serif;
}

#contact {
  background: #f9f9f9;
  padding: 20px;
  padding-bottom: 10px;
  /* margin: 40px 0 10px 0; */
}

#contact h3 {
  color: #505050;
  display: block;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

#contact h4 {
  margin: 5px 0 15px;
  text-align: center;
  color: #767676;
  display: block;
  font-size: 1em;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#send-button {
  cursor: pointer;
  text-decoration: none;
  font-size: 22px;
  color: #00162a;
  background-color: rgb(51, 200, 201);
  padding: 20px;
  border-radius: 10px;
  border: none;
}

#send-button:hover {
  color: rgb(51, 200, 201);
  background-color: #00162a;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* #send-button:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
} */

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}
::-webkit-input-placeholder {
  color: #888;
}
:-moz-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}
