/* Custom CSS goes here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.home-welcome {
  margin: auto;
  width: 100%;
  height: 85vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../Assets/images/web_design_concept.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  /* display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 30px; */
}

.text-box {
  height: 100%;
  opacity: 1;
  color: #fff;
  margin: auto;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 50px;
  flex-grow: 1;
}

.hello {
  font-family: Ubuntu, sans-serif;
  font-size: 100px;
}

.im-bruno {
  font-family: Abel, sans-serif;
  font-size: 100px;
}

.description-bruno {
  font-family: roboto, sans-serif;
}

.about-bruno {
  align-self: center;
  margin-top: 30px;
}

.about-bruno a {
  text-decoration: none;
  font-size: 22px;
  color: #000;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.about-bruno a:hover {
  color: #fff;
  background-color: #000;
}

.mission-bruno {
  font-family: Yaldevi, sans-serif;
}

.nav-link {
  font-size: 22px;
}

.container--about {
  /* width: 70%; */
  margin: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}
/* About Me */

.introduction--bruno {
  margin-left: auto;
  margin-right: auto;
  height: 66vh;
  width: 70%;
  display: flex;
  margin-top: 15vh;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
}

.name--bruno {
  margin: auto;
}

.image--bruno {
  margin: auto;
}

.name--bruno h1 {
  padding: 0;
  font-size: 100px;
  font-weight: bold;
  font-family: Josefin Sans, sans-serif;
}

.button-scroll {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: rgb(119, 117, 117);
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
}

.button-scroll:hover {
  color: black;
}

.border--bruno {
  background-color: #adadad;
  height: 30px;
  /* position: absolute;
  bottom: 50%; */
  /* margin-bottom: 150px; */
}

#description--bruno {
  width: 100%;
  margin: auto;
  background-color: #e6e3e3;
  font-size: 32px;
  line-height: 62px;
  font-weight: 400;
}

.text--bruno {
  width: 70%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
